<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>WikiWHEEdia</title>
  <link rel="stylesheet" type="text/css" href="/views/style.css"> 
  <!-- <link href='http://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Sigmar+One' rel='stylesheet' type='text/css'>
 --></head>
<body>
<div class="wrapper">
  <div class="header">
    <h1>WikiWHEEdia</h1>
    <ul>
      <li><form action="/search" method="GET"><input type="text" name="q" /><button type="submit">Search</button> </form></li>
      <li><a href="/articles/new">View Categories</a></li>
      <li><a href="/articles/new">Create new Article</a></li>
    </ul>
    <hr width="80%">
  </div>
  <div class="article_list">
  <h1>{{author}}</h1>
  <h2>Author of {{articleCount}} articles:</h2>
    {{#articles}}
    <h1>{{title}}</h1>
    <h2>Last edited: {{timestamp}}</h2>
    <p>{{{content}}}</p>
    <p><a href="/articles/{{article_id}}">View full</a></p>
    {{/articles}}
  </div>
  </div>
</body>
</html>