<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Category List</title>
  <link rel="stylesheet" type="text/css" href="/views/style.css">
  <link href='http://fonts.googleapis.com/css?family=Sigmar+One' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'> 
</head>
<body>
<div class="wrapper">
  <div class="header">
    <h1>WikiWHEE</h1>
    <ul>
      <li><form action="/search" method="GET"><input type="text" name="q" /><button type="submit">Search</button> </form></li>
      <li><a href="/categories">View Categories</a></li>
      <li><a href="/articles/new">Create new Article</a></li>
    </ul>
    <hr width="80%">
    <h2>Category List:</h2>
  </div>
  <div class="article_list">
    {{#categories}}
    <p><a href="/categories/{{id}}">{{category}}</a></p>
    {{/categories}}
  </div>
  <a href="/">Go home</a>
  </div>
</body>
</html>