  <div class="article-list">
    <form action="/articles/{{article_id}}/?_method=DELETE" method="POST">
        <button type="submit">Delete this Article</button>
    </form>
    <form action="/articles/{{article_id}}/?_method=PUT" method="POST">
      <label><h2>Your name:</h2>
        <input type="text" name="author" placeholder="Your Name" />
      </label>
      <label><h2>Title</h2>
        <input type="text" name="title" placeholder="Article Title" value="{{title}}" />
      </label>
      <label><h2>Body:</h2>
  <p>Tip: You can write your entries using <a href="http://daringfireball.net/projects/markdown/syntax" target="_blank">markdown!</a></p>
        <textarea name="content" placeholder="The content of your article goes here! Markdown formatting supported.">{{content}}</textarea>
      </label>
      <label><h2>Categories</h2>
        <p>Current Categories: {{catString}}</p>
        <input type="text" name="categories" placeholder="Enter categories separated by commas." />
      </label>
        <button type="submit">Submit</button>
    </form>
    <div class="revision-history">
      <h1>Revision History</h1>
      {{#revisions}}
        <form action="/articles/{{article_id}}/edit/{{id}}/?_method=PUT" method="POST">
          <p>
            <button type="submit">Restore this version</button>
           {{timestamp}}: Modified by {{author}}
          </p>
        </form>
      {{/revisions}}
    </div>
  </div>