<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Punderful</title>
  <link rel="stylesheet" type="text/css" href="/views/style.css"> 
  <link href='http://fonts.googleapis.com/css?family=Sigmar+One' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
</head>
<body>
  <div class="header">
    <h1><a href="/">Punderful</a></h1>
    <p>A snoutload of puns and terrible jokes</p>
    <ul>
      <li><form action="/search" method="GET"><input type="text" name="q" /><button type="submit">Search</button> </form></li>
    </ul>
  </div>
<div class="wrapper">
  <div class="sidebar">
    <ul>
      <li><a href="/categories">View Categories</a></li>
      <li><a href="/articles/new">Create new Article</a></li>
    </ul>
  </div>
  <div class="content_wrapper">