li {
  display: inline-block;
}
body {
  font-family: Helvetica, Arial, sans-serif;
  background: #ededed;
}
h1 {
  font-family: 'Indie Flower', sans-serif;  
  font-size: 45px;
  color: #ed4433;
  line-height: 45px;
  border-bottom: 1px solid #ed4433;
}
.header {
    text-align: center;
}
.header h1 {
  font-family: 'Sigmar One', cursive;  
  font-size: 60px;
  line-height: 60px;
  color: #ed4433;
  border: 0;

}
.wrapper {
  max-width: 600px;
  margin: 0 auto;
  background: #FFFFFF;
  padding: 15px;
}
.article-list {
  font-size: 14px;
  text-align: left;
}
.article_list h1 {
  font-size: 35px;
  color: #999999;
  line-height: 35px;
  margin: 7px 0;
  border-bottom: 1px solid #999999;

}
.article_list h2{
  font-size: 15px;
  color: #999999;
  line-height: 25px;
  margin: 7px;
}
.article_list h3,
.article_list h4,
.article_list h5,
.article_list h6 {
  font-size: 20px;
  font-weight: bold;
}
.article_content h1 {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 18px;
  color: #000000;
  border: 0;
}
.article_content h2,
.article_content h3,
.article_content h4,
.article_content h5,
.article_content h6 {
  font-size: 16px;
  font-weight: bold;
}