ul {  
  margin: 3px;
  padding: 3px;

}
li {
  display: inline-block;
  margin: 3px;
  padding: 3px;
}
body {
  font-family: Helvetica, Arial, sans-serif;
  background: url('http://i.imgur.com/pe04GUw.jpg');
  background-size: cover;
}
h1 {
  font-family: 'Indie Flower', sans-serif;  
  font-size: 45px;
  color: #0066CC;
  line-height: 45px;
  border-bottom: 1px solid #0066CC;
}
.header {
    text-align: center;
    background: #8FDE8F;
    padding: 15px;
    margin:0px;
}
.header h1 {
  font-family: 'Sigmar One', cursive;  
  font-size: 60px;
  line-height: 60px;
  color: #095A5A;
  border: 0;
  margin: 45px auto 7px auto;
}
.header a {
  color: #0066CC;
  text-decoration: none;
}
hr {
  border: 1px solid #D49A6A;
}
.wrapper {
  max-width: 800px;
  margin: 10px auto;
  background: #FFFFFF;
  padding: 0px;
  border-top: 5px solid #D49A6A;
}
.sidebar {
  float:left;
  height: 100%;
  max-width: 20%;
  margin: 10px;
  padding: 10px;
  border-right: 2px solid #D49A6A;
}
.sidebar li {
  display: block;
}
.sidebar a {
  color: #0066CC;
  font-family: 'Sigmar One', cursive;  
  text-decoration: none;
  line-height: 15px;
}
.content_wrapper {
  background: #FFFFFF;
  padding: 3px;
  margin: 15px 25px 15px 5px;
  width: 70%;
  float: right;
}
.content_wrapper input {
  padding: 10px;
  width: 90%;
  font-size: 20px;
}
.article_list textarea {
  padding: 10px;
  width: 90%;
  height: 400px;
  font-size: 20px;
}

.article_list select {
  padding: 10px;
  width: 94%;
  font-size: 20px;
  color: #0066CC;
  background: #FFFFFF;
}

.article-list {
  font-size: 14px;
  text-align: left;
}
.article_list h1 {
  font-size: 35px;
  color: #003333;
  line-height: 35px;
  margin: 7px 0;
  border-bottom: 1px solid #003333;
}
.article_list h2 {
  font-size: 15px;
  color: #999999;
  line-height: 25px;
  margin: 7px;
}
.article_list h3,
.article_list h4,
.article_list h5,
.article_list h6 {
  font-size: 20px;
  font-weight: bold;
}
.article_list img {
  max-width: 400px;
  display: block;
  margin: 0 auto;
}
.article_content h1 {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 18px;
  color: #000000;
  border: 0;
}
.article_content img {
  display: none;
}
.article_content h2,
.article_content h3,
.article_content h4,
.article_content h5,
.article_content h6 {
  font-size: 16px;
  font-weight: bold;
}
.new_author {
  color: #FFFFFF;
  background: #D49A6A;
  padding: 7px;
  text-align: center;
}
.new_author input {
  padding: 7px;
  border: 0;
  width: 30%;
  font-size: 18px;
}
.new_author p {
  margin: 7px;
}
.new_author button {
  border: 0;
  background: #FFFFFF;
  padding: 7px;
  font-weight: bold;
}
.footer {
  text-align: center;
}
.footer a {
  font-size: 15px;
  color: #999999;
  line-height: 25px;
  margin: 7px;
  text-decoration: none;
}
.footer li {
  margin: 5px 0 25px 0;
}
.erroar {
  color: red;
  display: block;
  margin: 10px auto;
}
.announcement {
  font-family: Helvetica, Arial, sans-serif;  
  font-size: 25px;
  color: #0066CC;
  line-height: 45px;
  border-bottom: 0;
}
