ul {  
  margin: 3px;
  padding: 3px;
}
li {
  display: inline-block;
  margin: 3px;
  padding: 3px;
}
body {
  font-family: Helvetica, Arial, sans-serif;
  background: url('http://i.imgur.com/pe04GUw.jpg');
  background-size: cover;
  background-color: #000000;
}
h1 {
  font-family: 'Indie Flower', sans-serif;  
  font-size: 45px;
  color: #0066CC;
  line-height: 45px;
  border-bottom: 1px solid #0066CC;
}
button {
  padding: 7px;
  font-size: 15px;
  color: #FFFFFF;
  background: #0066CC;
  border: 0;
}
a {
  text-decoration: none;
  color: #0066CC;
}
input {
  padding: 7px;
  font-size: 15px;
  color: #0066CC;
  background: #FFFFFF;
  padding: 10px;
  border: 1px solid #ededed;
}
.header {
    text-align: center;
    background: #8FDE8F;
    padding: 15px;
    margin:0px;
}
.header h1 {
  font-family: 'Sigmar One', cursive;  
  font-size: 60px;
  line-height: 60px;
  color: #095A5A;
  border: 0;
  margin: 45px auto 7px auto;
}
.header a {
  color: #0066CC;
  text-decoration: none;
}
hr {
  border: 1px solid #D49A6A;
}
.wrapper {
  max-width: 800px;
  margin: 10px auto;
  background: #FFFFFF;
  padding: 0px;
  border-top: 5px solid #D49A6A;
}
.sidebar {
  float:left;
  height: 100%;
  max-width: 20%;
  margin: 10px;
  padding: 10px;
  border-right: 2px solid #D49A6A;
}
.sidebar li {
  display: block;
}
.sidebar a {
  color: #0066CC;
  font-family: 'Sigmar One', cursive;  
  text-decoration: none;
  line-height: 15px;
}
.content-wrapper {
  background: #FFFFFF;
  padding: 3px;
  margin: 15px 25px 15px 5px;
  width: 70%;
  float: right;
}
.content-wrapper input {
  padding: 10px;
  width: 90%;
  font-size: 20px;
}
.content-wrapper h1 {
  border:0;
  color: #D49A6A;
}
.content-wrapper
.article-list {
  font-size: 14px;
  text-align: left;
}
.article-list h1 {
  font-size: 35px;
  color: #003333;
  line-height: 35px;
  margin: 7px 0;
  border-bottom: 1px solid #003333;
}
.article-list textarea {
  padding: 10px;
  width: 90%;
  height: 400px;
  font-size: 20px;
  border: 1px solid #ededed;
}
.article-list select {
  padding: 10px;
  width: 94%;
  font-size: 20px;
  color: #0066CC;
  background: #FFFFFF;
}
.article-list h2 {
  font-size: 15px;
  color: #000000;
  line-height: 25px;
  margin: 7px;
}
.article-list h3,
.article-list h4,
.article-list h5,
.article-list h6 {
  font-size: 20px;
  font-weight: bold;
}
.article-list img {
  max-width: 400px;
  display: block;
  margin: 0 auto;
}
.article-content h1 {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 18px;
  color: #000000;
  border: 0;
}
.article-content img {
  display: none;
}
.article-content h2,
.article-content h3,
.article-content h4,
.article-content h5,
.article-content h6 {
  font-size: 16px;
  font-weight: bold;
}
.new-author {
  color: #FFFFFF;
  background: #D49A6A;
  padding: 7px;
  text-align: center;
}
.new-author input {
  padding: 7px;
  border: 0;
  width: 30%;
  font-size: 15px;
}
.new-author p {
  margin: 7px;
}
.footer {
  text-align: center;
}
.footer a {
  font-size: 15px;
  color: #999999;
  line-height: 25px;
  margin: 7px;
  text-decoration: none;
}
.footer li {
  margin: 5px 0 25px 0;
}
.erroar {
  color: red;
  display: block;
  margin: 10px auto;
}
.revision-history h1 {
  color:#D49A6A;
  font-size: 20px;
  line-height: 25px;
  border-bottom: 1px solid #ededed;
}
.revision-history p {
  font-size: 12px;
  font-style: italic;
  color: #999999;
}
.revision-history button {
  font-size: 12px;
  background: #999999;
  padding: 3px;
  margin: 2px;
}